<meta property="og:site_name"   content="Pew Pew Customs">
<meta property="og:url"         content="<%= url; %>">
<meta property="og:title"       content="<%= title; %>">
<meta property="og:description" content="<%= description; %>">
<meta property="og:type"        content="video.other">
<meta property="og:image"        content="<%= image; %>">
<meta property="og:video"        content="<%= video; %>">
<meta property="og:video:secure_url" content="<%= video; %>">
<meta property="og:video:type" content="video/mp4">
<meta property="og:video:width"  content="512">
<meta property="og:video:height" content="512">


<meta name="twitter:card" content="player" />
<meta name="twitter:site" content="@pewpewcustoms">
<meta name="twitter:creator" content="@invision">
<meta name="twitter:title" content="<%= title; %>">
<meta name="twitter:description" content="<%= description; %>">
<meta name="twitter:image" content="<%= image; %>">

<meta name="twitter:player" content="<%= url; %>" />
<meta name="twitter:player:width" content="512" />
<meta name="twitter:player:height" content="512" />



<style>
    -html {
        background: url(<%= image; %>) no-repeat center center fixed;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    body {
        margin:0;
        padding:0;

    }

    .btn {
        position: relative;

        display: inline-block;
        -margin: 30px auto;
        padding: 0;

        overflow: hidden;

        border-width: 0;
        outline: none;
        border-radius: 2px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

        background-color: #2ecc71;
        color: #ecf0f1;

        transition: background-color .3s;
    }

    .btn:hover, .btn:focus {
        background-color: #27ae60;
    }

    .btn > * {
        position: relative;
    }

    .btn span {
        display: block;
        padding: 12px 24px;
    }

    .btn:before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        display: block;
        width: 0;
        padding-top: 0;

        border-radius: 100%;

        background-color: rgba(236, 240, 241, .3);

        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .btn:active:before {
        width: 120%;
        padding-top: 120%;

        transition: width .2s ease-out, padding-top .2s ease-out;
    }

    /* Styles, not important */
    *, *:before, *:after {
        box-sizing: border-box;
    }


    .btn.orange {
        background-color: #e67e22;
    }

    .btn.orange:hover, .btn.orange:focus {
        background-color: #d35400;
    }

    .btn.red {
        background-color: #e74c3c;
    }

    .btn.red:hover, .btn.red:focus {
        background-color: #c0392b;
    }


    .on-top
    {

        position: fixed;

    }

</style>



<style type="text/css">
    video {
        width:100%;
        max-width:600px;
        height:auto;
    }
</style>

<center><a class="btn orange on-top" style=" text-decoration: none;" target= "_blank" href="<%= origin; %>">Create your own custom model.</a></center>

<video autoplay controls loop muted>
    <source src="<%= video; %>" type="video/mp4">
    Your browser does not support video
</video>


